<!-- tab1.page.html -->
<ion-content>
  <div class="logout">
    <ion-fab-button [disabled]="isDetectorActivado" (click)="logout()"><ion-icon name="log-out"></ion-icon></ion-fab-button>
  </div>
  <ion-button class="full-width" (click)="activarDetector()">
    <ion-grid>
      <ion-row justify-content-center align-items-center>
        <ion-col style="font-size: 30px;" text-center>
          {{ isDetectorActivado ? 'DESACTIVAR ALARMA' : 'ACTIVAR ALARMA' }}
        </ion-col>
      </ion-row>
      <ion-row justify-content-center align-items-center>
        <ion-col text-center>
          <ion-icon class="candado" [name]="isDetectorActivado ? 'lock-open' : 'lock-closed'"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-button>
</ion-content>
